/* global reset and responsive helpers */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* prevent horizontal scroll caused by positioned elements */
  overflow-x: hidden;
}

.image {
  max-width: 55%;
  width: 50vw;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.6;
  height: auto;
  pointer-events: none; /* avoid overlaying clicks */
}

.clock-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* let the container scale but not exceed a sensible max */
  width: min(30%, 720px);
  max-width: 90vw;
  height: auto;
  margin: 4% 2.5% 0 5%;
  padding: 1% 1% 2% 1%;
}

.title {
  color: #9ebbd8;
  font-weight: 900;
  /* responsive, will shrink on small viewports or when zoomed */
  font-size: clamp(28px, 5vw, 64px);
  user-select: none;
  align-content: flex-end;
  line-height: 1.05;
}

.mail-support {
  float: right;
  margin-top: -4.5%;
  margin-right: 5%;
  color: rgb(250, 175, 180);
  user-select: none;
}

.header {
  width: 35%;
  max-width: 95vw;
}

.footer {
  width: 95%;
  max-width: 95vw;
}

/* remove non-standard @viewport usage - rely on meta viewport in HTML */

@media screen and (min-width: 150px) and (max-width: 960px) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image {
    display: none;
  }

  .clock-container {
    margin-bottom: 10%;
    margin-top: 10%;
    width: 75%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }

  .title {
    font-size: 36px !important;
  }

  .header {
    width: 90%;
  }

  .footer {
    width: 75%;
  }

  .mail-support {
    color: rgb(250, 175, 180);
    user-select: none;
    float: none;
    margin: 0;
    margin-top: 2%;
    text-align: center;
  }
}
